@page "/contactos/editar/{Id:int}"
@*< El {Id:int} es para capturar el Id del contacto a editar />*@

<h3 class="mb-4">Editar Contacto</h3>

<EditForm Model="Contacto" OnValidSubmit="GuardarContacto">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@

    <div class="card shadow-sm">
        <div class="card-body">

            <!-- Nombre -->
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <InputText class="form-control"
                           @bind-Value="Contacto.Nombre" />
                <ValidationMessage For="@(() => Contacto.Nombre)" />
            </div>

            <!-- Teléfono -->
            <div class="mb-3">
                <label class="form-label">Teléfono</label>
                <InputText class="form-control"
                           @bind-Value="Contacto.Telefono" />
                <ValidationMessage For="@(() => Contacto.Telefono)" />
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email</label>
                <InputText type="email"
                           class="form-control"
                           @bind-Value="Contacto.Email" />
                <ValidationMessage For="@(() => Contacto.Email)" />
            </div>

            <div class="mb-3">
                <label>Tipo de contacto</label>
                <InputSelect class="form-control" @bind-Value="Contacto.TipoContactoId">
                    <option value="">-- Selecciona un tipo --</option>

                    @foreach (var tipo in TiposContactos)
                    {
                        <option value="@tipo.Id">@tipo.Descripcion</option>
                    }
                </InputSelect>
            </div>

        </div>

        <div class="card-footer text-end">
            <button type="submit" class="btn btn-success">
                Guardar
            </button>
            <button type="button" class="btn btn-danger ms-2"
                    @onclick="Cancelar">
                Cancelar
            </button>
        </div>
    </div>
</EditForm>

@if (MensajeExito)
{
    <div class="alert alert-success mt-3">
        Contacto actualizado correctamente.
    </div>
}